<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code analysis rules" ToolsVersion="11.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA2006" Action="None" />
  </Rules>
</RuleSet>